body {
	min-height: 90vh;
}

.container {
	margin: 15px;
	padding: 15px;
	height: 100%;
	width: 100%;
	background: none;
	box-shadow: none;
	border-radius: 0;
	border: 0;
}

.container form {
	width: 100%;
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	/* align-items: center; */
}

.form-control {
	display: flex;
	flex-direction: column;
}

.form-control label {
	font-weight: bold;
	font-size: 23px;
	margin-top: 5px;
	cursor: pointer;
}

.form-control input,
.form-control textarea {
	color: black;
	background: rgba(255, 255, 255, 0.9);
	padding: 5px 18px;
	font-size: 20px;
	outline: none;
	border-radius: 15px;
	border: 0;
	margin: 5px 0;
	transition: box-shadow 0.5s;
}

.form-control input:focus,
.form-control textarea:focus {
	box-shadow: 0 0 5px 0 #2196f3;
}

.form-control textarea {
	min-height: 100px;
	max-height: 100px;
	min-width: 100%;
	max-width: 100%;
}

.container input[type="submit"] {
	color: black;
	width: 150px;
	cursor: pointer;
	margin: 15px 0;
	padding: 10px;
	font-size: 20px;
	border-radius: 50px;
	outline: none;
	border: 0;
	background: #fff;
	font-weight: bold;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.error {
	color: red;
	font-size: 20px;
}

.error a {
	text-decoration: none;
	color: #2196f3;
}

.error a:hover {
	text-decoration: underline;
}

.success {
	color: #00a81e;
	font-size: 20px;
}
